{% extends 'app_base.html' %}
{% load widget_tweaks %}


{% block content %}
    <div class="col-md-12">
    <h3>Create a new game</h3>
    <p class="help-block">Select a diffculty to start a new game</p>
    <form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {% render_field field class+='form-control input-lg' %}
        </div>
    {% endfor %}
        <button type="submit" class="btn btn-lg btn-primary">Start game</button>
    </form>
    </div>
{% endblock %}