{% extends 'app_base.html' %}

{% block content %}
    <div class="col-md-12">
    <h3>Score</h3>
    <p class="help-block">Hangman leaderboards!</p>
    <table class="table table-condensed">
        <tr>
            <th>Player</th>
            <th>Score</th>
            <th>Wins</th>
            <th>Losses</th>
        </tr>
        {% for stat in stats %}
           <tr>
           {%  for value in stat %}
               <td>{{ value }}</td>
           {%  endfor %}
           </tr>
        {% endfor %}
    </table>

    </div>
{% endblock %}